---
layout: default
title: GitLab Cloud
---
<div id="content">
  <div class="container txt-lefty">
    <div class="row">
      <div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
        <p>
        <h2>GitLab Cloud is now GitLab.com</h2>
        GitLab Cloud was <a href="/2024/04/28/gitlab-cloud-becomes-gitlab-com/">renamed</a> to <a href="/gitlab-com">GitLab.com</a>.
        </p>
        </br>
      </div>
    </div>
  </div>
</div>
