<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | GitLab</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <link rel="alternate" type="application/atom+xml" title="Blog" href="/atom.xml" />

  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">



  {% include combined_stylesheets.html %}


  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="shortcut icon" href="/ico/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/ico/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/ico/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/ico/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/ico/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/ico/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/ico/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/ico/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/ico/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/ico/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/ico/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/ico/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/ico/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/ico/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#554488">
  <meta name="msapplication-TileImage" content="/ico/mstile-144x144.png">
  <meta name="msapplication-config" content="/ico/browserconfig.xml">

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37019925-1']);
  _gaq.push(['_setDomainName', 'gitlab.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


  <!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
  for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
  mixpanel.init("6333f1d48be61570a8e762feafcbea08");</script><!-- end Mixpanel -->
</head>
<body data-spy="scroll" data-target".qnav">

  <div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-gl-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% if page.url == '/index.html' %}
        <a class="navbar-brand animated"><img src="/images/wordmark_inverted_small.png" class="nav-logo"></a>
        {% else %}
        <a class="navbar-brand animated" href="/"><img src="/images/wordmark_inverted_small.png" class="nav-logo"></a>
        {% endif %}
      </div>

      <div class="collapse navbar-collapse" id="main-gl-nav">
        <ul class="nav pull-right animated navbar-nav">
          <li><a href="/downloads/" onClick="_gaq.push(['_trackEvent', 'Top navigation', 'Download']);">Download</a></li>
          <li><a href="/features/" onClick="_gaq.push(['_trackEvent', 'Top navigation', 'Features']);">Features</a></li>
          <li><a href="/pricing/" onClick="_gaq.push(['_trackEvent', 'Top navigation', 'Pricing']);">Pricing</a></li>
          <li><a href="/gitlab-com/" onClick="_gaq.push(['_trackEvent', 'Top navigation', 'GitLab.com']);">GitLab.com</a></li>
          <li><a href="/gitlab-ci/" onClick="_gaq.push(['_trackEvent', 'Top navigation', 'GitLab CI']);">GitLab CI</a></li>
          <li><a href="/community/" onClick="_gaq.push(['_trackEvent', 'Top navigation', 'Community']);">Community</a></li>
          <li><a href="/blog/" onClick="_gaq.push(['_trackEvent', 'Top navigation', 'Blog']);">Blog</a></li>
          <li><a href="https://gitlab.com/users/sign_in" onClick="_gaq.push(['_trackEvent', 'Top navigation', 'Sign in']);" class="sign-in-up-btn">Sign in</a></li>
        </ul>
      </div>
    </div>
  </div>
